/*positive*/
.react-calendar-heatmap .color-scale-0 {
  fill: #7bb662;
}

/*neutral*/
.react-calendar-heatmap .color-scale-1 {
  fill: #f5d22c;
}

/*negative*/
.react-calendar-heatmap .color-scale-2 {
  fill: #e03c32;
}

#scrollable {
  height: 400px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
}
