/*positive*/
.react-calendar-heatmap .color-scale-0 {
  fill: #7bb662;
}

/*neutral*/
.react-calendar-heatmap .color-scale-1 {
  fill: #f5d22c;
}

/*negative*/
.react-calendar-heatmap .color-scale-2 {
  fill: #e03c32;
}

#scrollable {
  height: 35em;
  overflow: auto;
  background-color: white;
}

.calendar-container {
  height: 35em;
  overflow: auto;
}
