/*positive*/
.react-calendar-heatmap .color-scale-0 {
  fill: #7bb662;
}

/*neutral*/
.react-calendar-heatmap .color-scale-1 {
  fill: #f5d22c;
}

/*negative*/
.react-calendar-heatmap .color-scale-2 {
  fill: #e03c32;
}

.react-calendar-heatmap .color-empty {
  fill: #c0c0c0;
}

.scrollable-container {
  padding: 0 0 2em 0;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

#scrollable {
  max-height: 35em;
  overflow: auto;
  background-color: white;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.tweet:first-child {
  border-top: none;
}

.tweet:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.calendar-container {
  height: 40em;
  overflow: auto;
}

.footer {
  margin-top: 2em;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-item {
  padding: 1.5em;
}

.segment {
  padding: 3em;
}
